@font-face {
  font-family: 'Crypto-type-Regular';
  src: url('../../public/fonts/Cripto-type-Regular_2.otf');
}

@font-face {
  font-family: 'Crypto-icons-Regular';
  src: url('../../public/fonts/Cripto-icons-Regular.otf');
}
