.card {
  margin: 0 var(--spacing-400) 0 0;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cor-escuros-10);
  border-radius: 8px;
  min-width: 392px;
  width: 392px;
  padding: 24px 16px;
}

.card__image {
  background-color: var(--cor-escuros-10);
  height: 360px;
  width: 360px;
  object-fit: cover;
}

.card__name {
  font-weight: bold;
  width: 100%;
  margin: var(--spacing-600) 0 0;
  padding: var(--spacing-200);
  font-size: 18px;
  line-height: 1.2;
  overflow: hidden;
  max-height: 50px;
}

.card__description {
  margin: 0;
  padding: var(--spacing-200);
  color: var(--cor-escuros-25);
  line-height: 1.3;
  font-size: 13px;
  max-height: 40px;
  overflow: hidden;
}
