.bg_chapado {
  background-color: var(--crypto-gray-600);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_chapado svg {
  height: 90%;
}
