:root {
  /* definição de cores */
  --crypto-purple: #7879f1;
  --crypto-pink: #ff5bb4;
  --crypto-pink-light: #ffadd9;
  --crypto-pink-lighter: #ffeff7;
  --crypto-green: #06ff6a;
  --crypto-green-light: #83ffb4;
  --crypto-green-lighter: #e6fff0;

  --crypto-gray-100: #faf8f9;
  --crypto-gray-200: #e8e8e8;
  --crypto-gray-300: #bababa;
  --crypto-gray-400: #484848;
  --crypto-gray-500: #313131;
  --crypto-gray-600: #1a1a1a;

  /* variáveis do tema */

  --cor-primaria-clara: var(--crypto-green-light);
  --cor-primaria-pura: var(--crypto-green);

  --cor-secondaria-pura: var(--crypto-pink);
  --cor-secundario-clara: var(--crypto-pink-light);

  --primary-color-100: var(--crypto-green-lighter);
  --secondary-color-100: var(--crypto-pink-lighter);

  --cor-escuros-10: var(--crypto-gray-200);
  --cor-escuros-25: var(--crypto-gray-300);
  --cor-escuros-50: var(--crypto-gray-400);
  --cor-escuros-75: var(--crypto-gray-500);
  --cor-escuros-100: var(--crypto-gray-600);

  --cor-claros-neutra: var(--crypto-gray-100);
  --cor-claros-primaria: var(--crypto-green-lighter);
  --cor-claros-secundaria: var(--crypto-pink-lighter);

  --font-crypto-font: 'Crypto-type-Regular';
  --font-crypto-icon: 'Crypto-icons-Regular';

  --base-color: #ffffff;
  --text-color: #000000;
  --text-color-inverted: #ffffff;

  --interactive-color: var(--crypto-purple);
  --primary-color: var(--crypto-purple);
  --secondary-color: var(--crypto-pink);

  --color-layout-100: #e8e8e8;
  --color-layout-200: #bababa;
  --color-layout-300: #484848;
  --color-layout-400: #313131;
  --color-layout-500: #1a1a1a;

  --color-success: green;
  --color-warning: rgb(189, 148, 14);
  --color-error: red;

  --spacing-100: 2px;
  --spacing-200: 4px;
  --spacing-300: 8px;
  --spacing-400: 12px;
  --spacing-500: 16px;
  --spacing-600: 20px;
  --spacing-700: 24px;
  --spacing-800: 36px;
  --spacing-900: 42px;
  --spacing-950: 64px;
  --spacing-999: 128px;

  --header-height: 100px;

  /* GRID */
  --max-width: 1280px;
}
