:root {
  /* definição de cores */
  --crypto-purple: #7879F1;
  --crypto-pink: #FF5BB4;
  --crypto-pink-light: #FFADD9;
  --crypto-pink-lighter: #FFEFF7;
  --crypto-green: #06FF6A;
  --crypto-green-light: #83FFB4;
  --crypto-green-lighter: #E6FFF0;

  --crypto-gray-100: #FAF8F9;
  --crypto-gray-200: #E8E8E8;
  --crypto-gray-300: #BABABA;
  --crypto-gray-400: #484848;
  --crypto-gray-500: #313131;
  --crypto-gray-600: #1A1A1A;
    

  /* variáveis do tema */

  --cor-primaria-clara: var(--crypto-green-light);
  --cor-primaria-pura: var(--crypto-green);

  --cor-secondaria-pura: var(--crypto-pink);
  --cor-secundario-clara: var(--crypto-pink-light);

  --primary-color-100: var(--crypto-green-lighter);
  --secondary-color-100: var(--crypto-pink-lighter);
  
  --cor-escuros-10: var(--crypto-gray-200);
  --cor-escuros-25: var(--crypto-gray-300);
  --cor-escuros-50: var(--crypto-gray-400);
  --cor-escuros-75: var(--crypto-gray-500);
  --cor-escuros-100: var(--crypto-gray-600);

  --cor-claros-neutra: var(--crypto-gray-100);
  --cor-claros-primaria: var(--crypto-green-lighter);
  --cor-claros-secundaria: var(--crypto-pink-lighter);

  --font-crypto-font: "Crypto-type-Regular";
  --font-crypto-icon: "Crypto-icons-Regular";

  --base-color: #ffffff;
  --text-color: #000000;
  --text-color-inverted: #ffffff;

  --interactive-color: var(--crypto-purple);
  --primary-color: var(--crypto-purple);
  --secondary-color: var(--crypto-pink);

  --color-layout-100: #E8E8E8;
  --color-layout-200: #BABABA;
  --color-layout-300: #484848;
  --color-layout-400: #313131;
  --color-layout-500: #1A1A1A;

  --color-success: green;
  --color-warning: rgb(189, 148, 14);
  --color-error: red;

  --spacing-100: 2px;
  --spacing-200: 4px;
  --spacing-300: 8px;
  --spacing-400: 12px;
  --spacing-500: 16px;
  --spacing-600: 20px;
  --spacing-700: 24px;
  --spacing-800: 36px;
  --spacing-900: 42px;
  --spacing-950: 64px;
  --spacing-999: 128px;

  /* GRID */
  --max-width: 1280px;
}
